.mission-section {
  text-align: center;
  padding: 50px 10%;
}

.mission-title {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.mission-subtext {
  font-size: 18px;
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 60px;
}

.mission-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 70px;
}

.mission-card {
  background: white;
  border-radius: 8px;
  padding: 50px 30px 30px;
  width: 378px;
  height: auto;
  box-shadow: 0px 4px 16px 2px #00000040;
  position: relative;
  text-align: center;
  border-top: 4px solid #CD1EE5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.mission-card:hover {
  transform: translateY(-5px);
}

.mission-number {
  font-size: 90px;
  font-weight: bold;
  color: #6C5FD4;
  opacity: 0.2;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.mission-card h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  color: black;
  letter-spacing: 2px;
  text-align: center;
}

.mission-card p {
  font-size: 18px;
  color: black;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: auto;
}

@media (max-width: 1024px) {
  .mission-section {
    padding: 50px 5%;
  }

  .mission-title {
    font-size: 32px;
  }

  .mission-subtext {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .mission-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .mission-card {
    width: 80%;
    padding: 40px 25px;
  }

  .mission-number {
    font-size: 70px;
    top: -15px;
  }
}

@media (max-width: 768px) {
  .mission-title {
    font-size: 28px;
  }

  .mission-subtext {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .mission-container {
    gap: 30px;
  }

  .mission-card {
    width: 90%;
    padding: 35px 20px;
  }

  .mission-card h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .mission-card p {
    font-size: 16px;
    line-height: 28px;
  }

  .mission-number {
    font-size: 60px;
    top: -10px;
  }
}

@media (max-width: 480px) {
  .mission-title {
    font-size: 24px;
  }

  .mission-subtext {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .mission-container {
    gap: 20px;
  }

  .mission-card {
    width: 100%;
    padding: 30px 15px;
  }

  .mission-card h3 {
    font-size: 18px;
  }

  .mission-card p {
    font-size: 14px;
    line-height: 26px;
  }

  .mission-number {
    font-size: 50px;
    top: -5px;
  }
}
